<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <!-- Company Info -->
            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="text-uppercase">Furniture Store</h5>
                <p>
                    We provide high-quality, stylish, and affordable furniture for your home. Discover the perfect pieces for your space.
                </p>
            </div>

            <!-- Links -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/" class="text-dark">Home</a></li>
                    <li><a href="/products" class="text-dark">Products</a></li>
                    <li><a href="/cart" class="text-dark">Cart</a></li>
                    <li><a href="#" class="text-dark">Contact Us</a></li>
                </ul>
            </div>

            <!-- Social Media -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase">Follow Us</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">Facebook</a></li>
                    <li><a href="#" class="text-dark">Instagram</a></li>
                    <li><a href="#" class="text-dark">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3 bg-dark text-white">
        © 2024 Furniture Store | All rights reserved
    </div>
</footer>
