<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="/">Furniture Store</a>
        
        <!-- Toggler for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links and Search Bar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Furniture Megamenu -->
                <li class="nav-item dropdown megamenu">
                    <a class="nav-link dropdown-toggle" href="#" id="furnitureMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        Furniture
                    </a>
                    <div class="dropdown-menu p-4" aria-labelledby="furnitureMenu">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Living Room</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Sofas</a></li>
                                        <li><a href="#">Recliners</a></li>
                                        <li><a href="#">Coffee Tables</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Bedroom</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Beds</a></li>
                                        <li><a href="#">Wardrobes</a></li>
                                        <li><a href="#">Dressers</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Dining Room</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Dining Sets</a></li>
                                        <li><a href="#">Chairs</a></li>
                                        <li><a href="#">Bar Stools</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Furnishing Megamenu -->
                <li class="nav-item dropdown megamenu">
                    <a class="nav-link dropdown-toggle" href="#" id="furnishingMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        Furnishing
                    </a>
                    <div class="dropdown-menu p-4" aria-labelledby="furnishingMenu">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Bedding</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Sheets</a></li>
                                        <li><a href="#">Comforters</a></li>
                                        <li><a href="#">Pillows</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Window Treatments</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Curtains</a></li>
                                        <li><a href="#">Blinds</a></li>
                                        <li><a href="#">Shades</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Rugs</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Area Rugs</a></li>
                                        <li><a href="#">Door Mats</a></li>
                                        <li><a href="#">Outdoor Rugs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Decor Megamenu -->
                <li class="nav-item dropdown megamenu">
                    <a class="nav-link dropdown-toggle" href="#" id="decorMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        Decor
                    </a>
                    <div class="dropdown-menu p-4" aria-labelledby="decorMenu">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Wall Art</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Paintings</a></li>
                                        <li><a href="#">Posters</a></li>
                                        <li><a href="#">Wall Sculptures</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Lighting</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Lamps</a></li>
                                        <li><a href="#">Chandeliers</a></li>
                                        <li><a href="#">Pendant Lights</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Accessories</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Vases</a></li>
                                        <li><a href="#">Mirrors</a></li>
                                        <li><a href="#">Clocks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- New Arrivals -->
                <li class="nav-item">
                    <a class="nav-link" href="/products?category=newarrivals">New Arrivals</a>
                </li>
            </ul>

            <!-- Search Bar -->
            <form class="d-flex" action="/search" method="GET">
                <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
